  @import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');


  body {
    background-color: #F6F4EB;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'DM Sans', sans-serif;
  }

  .inc-exp-container {
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    padding: 20px;
    box-shadow: var(--box-shadow);
    margin: 20px 0;
  }